@font-face {
  font-family: 'yekan';
  src: url('./fonts/Yekan.eot?#') format('eot'),  
     url('./fonts/Yekan.woff') format('woff'),
     url('./fonts/Yekan.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}
  
@font-face {
    font-family: 'yekan';
    src:url('./fonts/Renner.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Renner.ttf') format('truetype'),
    url('./fonts/Renner.woff') format('woff');
  unicode-range: U+0030-0039, U+0041-007a;
}
  
@font-face {
    font-family: englogo;
    src:url('./fonts/Satisfy-Regular.ttf') format('woff');
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: yekan;
}

* {
  outline: 0;
  box-sizing: border-box;
  font-family: yekan;
}